[Unit]
Description=Docker container daemon for a surveillance camera
After=network.target

[Service]
Type=simple
Restart=on-failure
User={USER}
ExecStart={DOCKER} run --name {CONTAINER_NAME} --user {UID} --cpus=1 -v {CONFIG_DIR}:/surveillance/config -v {STORAGE_DIR}:/mnt/drive -v {LOG_DIR}:/var/log/surveillance --rm {IMAGE_NAME} /surveillance/main.py /surveillance/config/{CONFIG_NAME}
ExecStop={DOCKER} stop -t 60

[Install]
WantedBy=default.target